.App {
  text-align: center;
  max-width: 400px;
  height: auto;
  margin: auto;
}
.user_wrapper{
  display: flex;
  margin-top: 10px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 150px;
  justify-content: space-between;
}
.user_imge_wrapper{
  flex: .3;
  height: auto;
  padding-top: 20px;
}
.user_imge_wrapper img{
 width: 40px;
 height: 40px;
 object-fit: cover;
 border-radius: 50%;
}
.img{
  width: 40px;
  height: 40px; 
}
.user_details_wrapper{
  flex: .65;
  height: auto;
  text-align: start;
}
.user_details_wrapper ul{
  list-style: none;
}
.btnWrapper{
  width: 100%;
  height: auto;
  text-align: center;
}
.btnWrapper button{
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: green;
  color: #fff;
}
